body{
	background: #efefef;
}
div.main{
	background: #ffffff;
	color: #1f3134;
	padding:10px;
	margin: 30px auto;
}

@media screen and (min-width: 1024px) {
	.main{width:1024px;}
}
@media screen and (max-width: 1023px) {
	.main{width:95%;}
}